[submodule "lib/console-table"]
	path = lib/console-table
	url = https://github.com/DenisSamilton/CppConsoleTable
[submodule "lib/nameof"]
	path = lib/nameof
	url = https://github.com/Neargye/nameof
[submodule "lib/farsang"]
	path = lib/farsang
	url = https://github.com/machitgarha/farsang
